<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="planbServer.planb.mainpage.repository.MainpageDAO">

    <!--  메인페이지 > 스타일 리스트  -->
    <select id="getMainReview" resultType="planbServer.planb.mainpage.model.MainpageReviewDTO">
        SELECT review_id,
            pro_id,
            order_id,
            user_id,
            review_content,
            review_img,
            review_date
        FROM PLANB.review
        ORDER BY review_id DESC
        LIMIT 12

    </select>

    <!--  메인페이지 > 인기상품 리스트  -->
    <select id="getMainPopular" resultType="planbServer.planb.mainpage.model.MainpageProductDTO">
        SELECT
            pro_id,
            pro_brand,
            pro_img,
            pro_name,
            pro_price,
            pro_cnt,
            (SELECT count(*) FROM PLANB.bookmark PB WHERE PB.pro_id = PP.pro_id) bookmark_count
        FROM PLANB.product PP
        WHERE pro_hide != 0
        ORDER BY pro_cnt DESC
        LIMIT 8;

    </select>

    <!--  메인페이지 > 신규상품 리스트  -->
    <select id="getNewProduct" resultType="planbServer.planb.mainpage.model.MainpageProductDTO">
        SELECT
            pro_id,
            pro_brand,
            pro_img,
            pro_name,
            pro_price,
            pro_cnt,
            (SELECT count(*) FROM PLANB.bookmark PB WHERE PB.pro_id = PP.pro_id) bookmark_count
        FROM PLANB.product PP
        WHERE pro_hide != 0
        ORDER BY pro_date DESC
        LIMIT 8;

    </select>


</mapper>